<div class="bg-secondary modal-body" style="height: calc(100vh); overflow-y: auto;">
  <div class="text-center mt-5">
    <h1>Turbochat</h1>
    <% if current_user %>
      <h4 class="text-info">Hello, <%= current_user.email %></h4>
      <%= image_tag(current_user.avatar_thumbnail, class: "img-fluid rounded-circle mt-3") %>
      <div>
      <%= link_to "Start Chatting", rooms_path, class: "btn btn-primary btn-lg mt-3" %>      
      <%= button_to "Logout", destroy_user_session_path, class: "btn btn-danger mt-3", method: :delete %>
      <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-dark mt-3" %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg mt-3 me-3" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-dark btn-lg mt-3" %>
    <% end %>
  </div>
</div>